.title {
    text-align: center;
}

.copyright {
    text-align: center;
}

.call {
    text-align: center;
}

.insurance-for {
    text-align: center;
}

.google-form {
    text-align: center;
}

.logo {
    height: auto;
    width: 20%;
}