/* OUR TEAM page styling */
/*
@media screen and (min-width: 671px) {
  .team-description-container {
    margin: 0px 200px 0px 200px
  }
}
*/

.office-building-img-container {
    text-align: center;
}

.office-building-img {
    border-radius: 10px;
    width: 75%;
    height: auto;
}

.team-description-container {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    h1, h2, h3 {
      line-height: 1.2;
    }
}

.contact-ref {
  text-align: center;
  font-size: 50px;
}