/* contact page styling */

/* Show the message when htmx-request is present */
#sendingIndicator.htmx-request {
  display: block;
}
.hidden { display: none; }

.contact-information, .form {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  h1, h2, h3 {
    line-height: 1.2;
  }
}