/* got this from: https://www.w3schools.com/howto/howto_js_topnav.asp */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #324A71;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1971c2;
  color: white;
}

.toplogo {
    height: auto;
    width: 10%;
}