.title {
    text-align: center;
}

footer {
    text-align:center;
}

.insurance-for {
    text-align: center;
}

.biglogo-container {
    text-align: center;
}

.biglogo {
    height: auto;
    width: 50%;
}

.call {
    padding: 0px;
    border: 0px;
    margin: 0px;
    color: #324A71;
    text-align: center;
}

.logo-call-container {
    background-color: lightgray;
}

/* Show the message when htmx-request is present */
#sendingIndicator.htmx-request {
  display: block;
}
.hidden { display: none; }

/*
h1, h2 {
    color: #1971c2;
}
*/