/* all pages styling */
@import "tailwindcss";

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* header styling */

/* Link box styling resources
    https://www.w3schools.com/Css/css_link.asp
*/
