/* all pages styling */

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
    text-align: center;
}

/* footer styling */

footer {
    text-align:center;
}

/* footer styling */

/* header styling */

.biglogo-container {
    text-align: center;
}

.biglogo {
    height: auto;
    width: 25%;
}

.call {
    padding: 0px;
    border: 0px;
    margin: 0px;
    color: #324A71;
    text-align: center;
}

.logo-call-container {
    background-color: lightgray;
}

/* header styling */