.title {
    text-align: center;
}

footer {
    text-align:center;
}

.insurance-for {
    text-align: center;
}

.biglogo-container {
    text-align: center;
}

.biglogo {
    height: auto;
    width: 50%;
}

.call {
    padding: 0px;
    border: 0px;
    margin: 0px;
    color: #1971c2;
    text-align: center;
}

.logo-call-container {
    background-color: lightgray;
}

/*
h1, h2 {
    color: #1971c2;
}
*/